/*---Reset CSS---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

:root{
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
}

body{
  background: url("../images/bg-intro-mobile.png"), var(--red);
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.text-section{
  padding: 25% 7% 15% 7%;
  text-align: center;
}

h1{
  font-weight: 700;
  color: white;
  font-size: 2rem;
  margin-bottom: 5%;
  padding: 2%;
  line-height: 2.5rem;
}

p{
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.form-section{
  padding: 0 7% 25% 7%;
  text-align: center;
}

.offer-placeholder {
  width: 100%;
  border-radius: 8px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  padding: 5% 10%;
  box-shadow: 0 8px hsla(249, 10%, 10%, 20%);
  margin-bottom: 6%;
}

.offer{
  font-weight: 700;
  font-size: 0.8rem;
}

.pOffer{
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 auto;
}

.form{
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 8%;
  margin: 0 auto;
}

.form-space{
  margin: 0 auto;
  width: 96%;
  padding: 6% 2%;
  margin-bottom: 6%;
  border-radius: 6px;
  border: 1px solid var(--grayishBlue);
  font-weight: 600;
  background: url('../images/icon-error.svg') no-repeat;
  background-position: 95%;
}

.submit{
  padding: 6%;
  width: 100%;
  background-color: var(--green);
  border-radius: 6px;
  color: white;
  font-weight: 700;
  border: none;
  box-shadow: 0 4px hsla(154, 59%, 51%, 40%);
  margin-bottom: 4%;
  cursor: pointer;
}

.submit:hover{
  background-color: hsla(154, 59%, 51%, 60%);
}

.terms{
  color: var(--grayishBlue);
  font-size: 0.6rem;
  padding: 0 10%;
}

.termsAndService{
  font-weight: 700;
  color: var(--red);
}

.error-message{
  color: var(--red);
  text-align: right;
  font-size: 0.7rem;
  margin: -3% 0 3% 0;
  display: none;
}

#errFName{
  display: none;
}

#errLName{
  display: none;
}

#errMail{
  display: none;
}

#errPass{
  display: none;
}




/*---Desktop Query---*/
@media (min-width: 1024px){

  body{
    background: url("../images/bg-intro-desktop.png"), var(--red);
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 0 10%;
  }

  .text-section{
    text-align: left;
    margin-right: 3%;
    width: 100%;
    padding: 0;
  }

  h1{
    font-size: 3.2rem;
    line-height: 3.7rem;
    padding: 0;
    margin: 0 auto 5% auto;
  }

  p{
    padding-right: 8%;
  }

  .form-section{
    padding: 0 3%;
    width: 100%;
  }

  .form{
    padding: 7%;
  }

  .offer-placeholder {
    padding: 4% 0;
    text-align: center;
    margin-bottom: 4%;
  }

  .offer{
    margin: 0 auto;
  }

  .pOffer{
    margin: 0 auto;
  }

  .form-space{
    padding: 4% 2%;
    margin-bottom: 4%;
    background: url('../images/icon-error.svg') no-repeat;
    background-position: 95%;
  }

  .submit{
    padding: 4%;
  }

  .terms{
    color: var(--grayishBlue);
    font-size: 0.6rem;
    padding: 0;
  }
}

/*---Tablet Query---*/

@media screen and (min-width:800px) and (max-width: 1023px){
  .text-section{
    padding: 25% 12% 15% 12%;
  }

  h2{
    font-size: 2.5rem;
  }

  .offer-placeholder {
    margin-bottom: 4%;
  }

  .form-section{
    padding: 0 12% 25% 12%;
    text-align: center;
  }

  .form-space{
    padding: 5% 2%;
  }

  .submit{
    padding: 5%;
  }

  .offer{
    font-size: 1rem;
  }

  .pOffer{
    font-size: 1rem;
  }
}